/* 设置全局字体 */
body {
    font-family: "MS Gothic", monospace;
  }

.el-container, .el-table, .el-select,.el-form,.el-radio,.el-date-picker{
    font-family: "MS Gothic", monospace !important;
  }
.el-input, 
input {
  font-family: "MS Gothic", monospace !important;
}

.el-input__inner::placeholder {
  font-family: "MS Gothic", monospace !important;
}

* {
    font-family: "MS Gothic", monospace;
}
  
  